* {
	padding: 0;
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	background: #E9E9E9;
}

a {
	text-decoration: none;
}

.Containmenu {
	position: absolute;
	width: 100%;
	height: 12%;
	background: #ffffff;
}

.logo {
	position: absolute;
	width: 71px;
	height: 70px;
	left: 4%;
	top: 20%;
}

.texto-logo {
	position: absolute;
	left: 147px;
	top: 20px;
	font-family: 'Lato', sans-serif;
	color: #846219;
	font-size: 41.2px;
	line-height: 48px;
	display: flex;
	align-items: flex-end;
}

.texto-sub-logo {
	position: absolute;
	left: 151px;
	top: 68px;
	font-family: 'Lato', sans-serif;
	font-size: 16.2px;
	line-height: 19px;
	color: #846219;
}

.about {
	position: absolute;
	left: 53%;
	top: 47px;
	font-size: 16.2px;
	line-height: 19px;
	color: #846219;
	font-family: 'Lato', sans-serif;
}

.models {
	position: absolute;
	left: 73%;
	top: 47px;
	color: #846219;
	font-family: 'Lato', sans-serif;
	font-size: 16.2px;
	line-height: 19px;
}

.guarantee {
	position: absolute;
	left: 90%;
	top: 47px;
	font-size: 16.2px;
	line-height: 19px;
	color: #846219;
	font-family: 'Lato', sans-serif;
}

.fita {
	position: absolute;
	left: 606px;
	top: 345px;
	mix-blend-mode: multiply;
}

.texto-img-fita1 {
	position: absolute;
	width: 348px;
	height: 192px;
	left: 180px;
	top: 425px;
	font-family: 'Lato', sans-serif;
	font-size: 82.2px;
	color: #716565;
}

.fita2 {
	position: absolute;
	left: 320px;
	top: 10%;
	mix-blend-mode: multiply;
}

.containtsub {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 90%;
	background: #506FA9;

}

.texto-img-fita2 {
	position: absolute;
	width: 700px;
	height: 162px;
	left: 139px;
	top: 40%;
	font-family: 'Lato', sans-serif;
	font-size: 69.2px;
	line-height: 81px;
	display: flex;
	align-items: flex-end;
	color: #FFFFFF;
}

.sub-texto-2 {
	position: absolute;
	width: 493px;
	height: 171px;
	left: 132px;
	top: 65%;
	font-family: 'Lato', sans-serif;
	font-size: 48.2px;
	line-height: 56px;
	display: flex;
	align-items: flex-end;
	color: #FFFFFF;
	font-weight: 200;

}

footer {
	position: absolute;
	width: 100%;
	height: 20%;
	top: 2048px;
	background: #E9E9E9;
}

h3 {
	position: absolute;
	left: 151px;
	font-size: 27.2px;
	line-height: 32px;
	font-family: 'Lato', sans-serif;
	color: #716565;

}

.YT {
	position: absolute;
	width: 45px;
	height: 50px;
	left: 14%;
	top: 33%;
	background: #DADADA;
	mix-blend-mode: multiply;
	background: url(./img/YT.png);
	background-repeat: no-repeat;
}

.face {
	position: absolute;
	width: 45px;
	height: 50px;
	left: 8%;
	top: 33%;
	background: #716565;
	mix-blend-mode: multiply;
	background: url(./img/face.png);
	background-repeat: no-repeat;
}


.tt {
	position: absolute;
	width: 45px;
	height: 50px;
	left: 20%;
	top: 33%;
	background: #DADADA;
	mix-blend-mode: multiply;
	background: url(./img/tt.png);
	background-repeat: no-repeat;
}

.contact {
	position: absolute;
	left: 50%;
	font-family: 'Lato', sans-serif;
	font-size: 27.2px;
	line-height: 32px;
}

.ende {
	position: absolute;
	left: 35%;
	top: 35%;
	font-family: 'RobotoCondensed';
	font-size: 27px;
	line-height: 19px;
	display: flex;
	align-items: flex-end;
	color: #716565;
}